.top {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  height: 50px;
  background: white;
  border: solid 5px black;
}

.right {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 50px;
  width: 50px;
  background: white;
  border: solid 5px black;
}

.left {
  position: absolute;
  width: 50px;
  top: 50px;
  left: 0px;
  bottom: 50px;
  background: white;
  border: solid 5px black;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50px;
  right: 50px;
  height: 50px;
  background: white;
  border: solid 5px black;
}
