.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 200px;
  border: solid 5px black;
  background: white;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 200px;
  border: solid 5px black;
  background: white;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 50px;
  width: 200px;
  border: solid 5px black;
  background: white;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 200px;
  border: solid 5px black;
  background: white;
}
